@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
    int counter = 1;
    ViewBag.Title = "Requests";
    ViewBag.Nav = "Request";
}
@model List<Request>



<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="uploadForm" asp-action="Upload" asp-controller="Request" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ExcelFile">Select Excel File : </label>
                        <input type="file" class="form-control" name="ExcelFile" id="ExcelFile" required />
                        <input type="hidden" name="id" id="requestId" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mt-5">
    <a asp-action="Create" asp-controller="Request" class="btn btn-success">NewRequest</a>

</div>


<div class="m-5">
    <h1>Requests</h1>
    <table class ="table table-border table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>RequestDate</th>
                <th>Channel</th>
                <th>Description</th>
                <th>Assignee</th>
                <th>WH_movements</th>
                <th>Status</th>
                <th>Priority</th>
                <th>POSNumber</th>
                <th>OnGroundTeams</th>
                <th>TrucksNeeded</th>
                <th>StartDate</th>
                <th>EndDate</th>
               @* <th>RequestType</th>*@
                <th>Action</th>
                <th>Upload Visit</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@(counter++)</td>
                   @* <td>@request.RequestID</td>*@
                    <td>@request.RequestDate</td>
                    <td>@request.Channel</td>
                    <td>@request.Description</td>
                    <td>@request.Assignee</td>
                    <td>@request.WH_movements</td>
                    <td>@request.Status</td>
                    <td>@request.Priority</td>
                    <td>@request.POSNumber</td>
                    <td>@request.OnGroundTeams</td>
                    <td>@request.TrucksNeeded</td>
                    <td>@request.StartDate</td>
                    <td>@request.EndDate</td>
                    @*<td>@request.Request_type.TypeName</td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@request.RequestID" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@request.RequestID" class="btn btn-outline-danger">Delete</a>

                    </td>
                    <td>
                        <button type="button" class="btn btn-primary uploadExcelBtn" data-request-id="@request.RequestID">Upload Excel</button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.uploadExcelBtn').click(function () {
                var requestId = $(this).data('request-id');
                $('#requestId').val(requestId); // Set the request ID in the hidden input
                $('#uploadModal').modal('show');
            });

            // Handle form submission
            $('#uploadForm').submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();

                // Perform form submission via AJAX
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function () {
                        // Reset the form
                        $('#uploadForm')[0].reset();
                        // Close the modal
                        $('#uploadModal').modal('hide');
                    },
                    error: function () {
                        // Handle error if needed
                    }
                });
            });
        });
    </script>

}