@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
    int counter = 1;
}
@model List<Request>

<div class="mt-5">
    <a asp-action="Create" asp-controller="Request" class="btn btn-success">NewRequest</a>

</div>
<form asp-controller="Request" asp-action="Search" method="get">
    <label for="searchValue class="form-label">Search</label>
    <input type="text" name="searchValue" placeholder="Search..." value="@ViewBag.SearchValue" />
    <button type="submit">Search</button>
    <a asp-action="Index">Reset</a>
</form>

<div class="m-5" id="allUsersContainer">
    <h1>Requests</h1>
    <table class="table table-border table-hover" id="allUsersTable">
        <thead>
            <tr>
                <th>#</th>
                <th>RequestDate</th>
                <th>CompanyName</th>
                <th>ClientMobile</th>
                <th>ClientEmail</th>
                <th>Channel</th>
                <th>Description</th>
                <th>Assignee</th>
                <th>WH_movements</th>
                <th>Status</th>
                <th>Priority</th>
                <th>POSNumber</th>
                <th>OnGroundTeams</th>
                <th>TrucksNeeded</th>
                <th>StartDate</th>
                <th>EndDate</th>
               @* <th>RequestType</th>*@
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@(counter++)</td>
                   @* <td>@request.RequestID</td>*@
                    <td>@request.RequestDate</td>
                    
                    <td>@request.CompanyName</td>
                    <td>@request.ClientMobile</td>
                    <td>@request.ClientEmail</td>
                    <td>@request.Channel</td>
                    <td>@request.Description</td>
                    <td>@request.Assignee</td>
                    <td>@request.WH_movements</td>
                    <td>@request.Status</td>
                    <td>@request.Priority</td>
                    <td>@request.POSNumber</td>
                    <td>@request.OnGroundTeams</td>
                    <td>@request.TrucksNeeded</td>
                    <td>@request.StartDate</td>
                    <td>@request.EndDate</td>
                    @*<td>@request.Request_type.TypeName</td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@request.RequestID" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@request.RequestID" class="btn btn-outline-danger">Delete</a>
                         
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
@* <div id="searchResultsContainer" class="hide">
    <h2>Search Results</h2>
    <table id="searchUsersTable" class="table table-striped">
        <tbody>
        </tbody>
    </table>
</div> *@
@* @section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var searchValue = $(this).val().trim();
                if (searchValue !== '') {
                    searchUsers(searchValue);
                } else {
                    resetSearch();
                }
            });
        });
        function searchUsers(searchValue) {
            $.ajax({
                url: '/Request/Search',
                type: 'GET',
                data: { searchValue: searchValue },
                success: function (result) {
                    if (result.trim() !== '') {
                        $('#allUsersContainer').hide();
                        $('#searchResultsContainer').show().find('tbody').html(result);
                        $('#notFoundMessage').addClass('hide');

                    } else {
                        $('#allUsersContainer').hide();
                        $('#searchResultsContainer').hide();
                        $('#notFoundMessage').removeClass('hide');

                    }
                },
                error: function () {
                    alert('Error occurred while searching users.');
                }
            });
        }


        function resetSearch() {
            $.ajax({
                url: '/Request/ResetSearch',
                type: 'GET',
                success: function (result) {
                    if (result.trim() !== '') {
                        $('#allUsersContainer').show();
                        $('#searchResultsContainer').hide();
                        $('#searchResultsContainer').addClass('hide');


                    } else {
                        $('#allUsersContainer').show();
                        $('#searchResultsContainer').hide();

                    }
                    $('#searchUsersTable tbody').empty(); // Clear search results table
                },
                error: function () {
                    alert('Error occurred while resetting the search.');
                }
            });
        }
    </script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

} *@

