@model List<Request>
@{
    int counter = 1;
}
<!DOCTYPE html>
<html>
<head>
    <title>Requests</title>
    <!-- Include any necessary CSS or JavaScript files -->
</head>
<a asp-action="Create" asp-controller="Request" class="btn btn-success">NewRequest</a>


<body>
    <h1>Requests</h1>
    <table class ="table table-border table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>RequestDate</th>
                <th>Channel</th>
                <th>Description</th>
                <th>Assignee</th>
                <th>WH_movements</th>
                <th>Status</th>
                <th>Priority</th>
                <th>POSNumber</th>
                <th>OnGroundTeams</th>
                <th>TrucksNeeded</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>RequestType</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                
                <tr>
                   <td>@(counter++)</td> 
                   @* <td>@request.RequestID</td>*@
                    <td>@request.RequestDate</td>
                    <td>@request.Channel</td>
                    <td>@request.Description</td>
                    <td>@request.Assignee</td>
                    <td>@request.WH_movements</td>
                    <td>@request.Status</td>
                    <td>@request.Priority</td>
                    <td>@request.POSNumber</td>
                    <td>@request.OnGroundTeams</td>
                    <td>@request.TrucksNeeded</td>
                    <td>@request.StartDate</td>
                    <td>@request.EndDate</td>
                    <td>@request.Request_type.TypeName</td>
                   <td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@request.RequestID" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@request.RequestID" class="btn btn-outline-danger">Delete</a>
                         
                    </td>
                   </td>
                   @* <td>
                        <form asp-controller="Request" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@request.RequestID" />
                            <button type="submit">Soft Delete</button>
                        </form>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

