@model List<Visit>

@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
}
<h2>Upload Excel File</h2>
<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="ExcelFile" class="col-sm-2 col-form-label">Select Excel File:</label>
        <div class="col-6">
            <input type="file" class="form-control" name="ExcelFile" id="ExcelFile" />
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </div>
</form>
<div class="mt-5">
    <a asp-action="Create" asp-controller="Visit" class="btn btn-success">New Visit Item</a>
</div>

<div class="m-5">
    <h1>Visits</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                
                <th>UTC Offset</th>
                <th>Date</th>
                <th>POS Photo</th>
                <th>Units Photo Before</th>
                <th>Units Photo After</th>
                <th>Place Name</th>
                <th>Place Chain</th>
                <th>Status</th>
                <th>Notes</th>
                <th>User Name</th>
                <th>Planned Date</th>
                <th>Task Id</th>
                <th>Task Name</th>
                <th>Units Numbers</th>
                
                <th>Request ID</th>
                <th>User Name</th>
                <th>Visit Status Name</th>
                <th>Visit Type Name</th>
                <th>Place Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visit in Model)
            {
                <tr>
                    
                    <td>@visit.UTCoffset</td>
                    <td>@visit.date</td>
                    <td>@visit.POSPhoto</td>
                    <td>@visit.UnitsPhotobefore</td>
                    <td>@visit.UnitsPhotoAfter</td>
                    <td>@visit.placeName</td>
                    <td>@visit.placeChain</td>
                    <td>@visit.Status</td>
                    <td>@visit.Notes</td>
                    <td>@visit.UserName</td>
                    <td>@visit.PlannedDate</td>
                    <td>@visit.TaskId</td>
                    <td>@visit.TaskName</td>
                    <td>@visit.UnitsNumbers</td>
                    <td>@visit.RequestID</td>
                    <td>@visit.User.UserName</td>
                    <td>@visit.VisitStatus.VisitStatusName</td>
                    <td>@visit.VisitType.VisitTypeName</td>
                    <td>@visit.Place.DisplayName</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@visit.VisitId" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@visit.VisitId" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
