@model List<Visit>

@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
    int index = 1; 
    ViewBag.Title = "Visits";
    ViewBag.Nav = "Visits";

}


<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="uploadForm" asp-action="Upload" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ExcelFile">Select Excel File:</label>
                        <input type="file" class="form-control" name="ExcelFile" id="ExcelFile" required />
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
<nav class="navbar p-0 shadow-none">
    <div class="container-fluid m-0 p-0">
        <a asp-action="Create" asp-controller="Visit" class="btn btn-success m-0">New Visit Item</a>
        <form class="d-flex">
            <button type="button" class="btn btn-primary" id="showModalBtn">Upload Excel</button>
        </form>
    </div>
    
</nav>
    <h1>Visits</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                
                <th>UTC Offset</th>
                <th>Date</th>
                <th>POS Photo</th>
                <th>Units Photo Before</th>
                <th>Units Photo After</th>
                <th>Place Name</th>
                <th>Place Chain</th>
                <th>Status</th>
                <th>Notes</th>
                <th>User Name</th>
                <th>Planned Date</th>
                <th>Task Id</th>
                <th>Task Name</th>
                <th>Units Numbers</th>
                
                <th>Request ID</th>
                <th>User Name</th>
                <th>Visit Status Name</th>
                <th>Visit Type Name</th>
                <th>Place Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visit in Model)
            {
                <tr>
                    <td>@(index++)</td>
                    <td>@visit.UTCoffset</td>
                    <td>@visit.date</td>
                    <td>@visit.POSPhoto</td>
                    <td>@visit.UnitsPhotobefore</td>
                    <td>@visit.UnitsPhotoAfter</td>
                    <td>@visit.placeName</td>
                    <td>@visit.placeChain</td>
                    <td>@visit.Status</td>
                    <td>@visit.Notes</td>
                    <td>@visit.UserName</td>
                    <td>@visit.PlannedDate</td>
                    <td>@visit.TaskId</td>
                    <td>@visit.TaskName</td>
                    <td>@visit.UnitsNumbers</td>
                    <td>@visit.RequestID</td>

                    <td> @(visit.User != null ? visit.User.UserName : " ")</td>
                    <td>@(visit.visitStatus != null ? visit.visitStatus.VisitStatusName : " ")</td>

                    <td>@(visit.visitType != null ? visit.visitType.VisitTypeName : " ")</td>
                    <td>@(visit.Place != null ? visit.Place.DisplayName : " ")</td>
                    

                    <td>
                        <a asp-action="Edit" asp-route-id="@visit.VisitId" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@visit.VisitId" class="btn btn-outline-danger">Delete</a>
                        <a asp-action="Index" asp-controller="VisitDetail" asp-route-id="@visit.VisitId" class="btn btn-outline-info">Details</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#showModalBtn').click(function () {
                $('#uploadModal').modal('show');
            });

           
        });
    </script>

}