@model List<VisitType>
@{
    int counter = 1;
}
@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
    ViewBag.Title = "Visit Types";
    ViewBag.Nav = "Visit_Types";
}

<div class="mt-5">
    <a asp-action="Create" asp-controller="VisitType" class="btn btn-success">New Visit Type </a>
</div>

<div class="m-5">
    <h1>Visit Types</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Visit Type Name</th>
                @*  <th>Request Type ID</th> *@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visitType in Model)
            {
                <tr>
                    <td>@(counter++)</td>
                    <td>@visitType.VisitTypeName</td>
                    @*   <td>@requestType.RequestTypeID</td> *@

                    <td>
                        <a asp-action="Edit" asp-route-id="@visitType.VisitTypeId" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@visitType.VisitTypeId" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

