@model List<Places>
@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
}
<div class="mt-5">
    <a asp-action="Create" asp-controller="Places" class="btn btn-success">New Place</a>
</div>

<div class="m-5">
    <h1>Places</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Display Name</th>
                <th>Place ID</th>
                <th>Chain</th>
                <th>Street Number</th>
                <th>Street Name</th>
                <th>City</th>
                <th>County</th>
                <th>State</th>
                <th>Country</th>
                <th>Postal Code</th>
                <th>Channel</th>
                <th>Unit Number</th>
                <th>Unit Type</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Last Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var place in Model)
            {
                <tr>
                    <td>@place.DisplayName</td>
                    <td>@place.PlaceId</td>
                    <td>@place.Chain</td>
                    <td>@place.StreetNumber</td>
                    <td>@place.StreetName</td>
                    <td>@place.City</td>
                    <td>@place.County</td>
                    <td>@place.State</td>
                    <td>@place.Country</td>
                    <td>@place.PostalCode</td>
                    <td>@place.Channel</td>
                    <td>@place.UnitNumber</td>
                    <td>@place.UnitType</td>
                    <td>@place.latitude</td>
                    <td>@place.longitude</td>
                    <td>@place.lastupdated</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@place.Id" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@place.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
