
@model List<ApplicationUser>
@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
    int counter = 1;
    ViewBag.Title = "Employee";
    ViewBag.Nav = "users ";

}
<nav class="navbar p-0 shadow-none">
    <div class="container-fluid m-0 p-0">
        <a asp-action="RegisterEmployee" asp-controller="Login" class="btn btn-success m-0">Add User</a>

    </div>
</nav>
<h1>Users</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>User Name </th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@(counter++)</td>
                    <td>@emp.Email</td>
                    <td>@emp.UserName</td>

                    <td>
                        <a asp-controller="Login"  asp-action="EditEmployee" asp-route-id="@emp.Id" class="btn btn-outline-warning">Edit</a>
                        <a asp-controller="Login"  asp-action="Delete" asp-route-id="@emp.Id" class="btn btn-outline-danger">Delete</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>